.bg-home-container{
    background-image: url(https://ik.imagekit.io/pmbzvcm4i/sea-ocean);
    width: 300px; ;
    height: 600px;
    background-size: cover;
}

.bg-fav-container{
    background-image: url(https://ik.imagekit.io/pmbzvcm4i/taj-mahal);
    width: 360px; ;
    height: 540px;
    background-size: cover;
}